.projectMain {
  width: 100vw;
  height: 350px;
  background-image: url(../../assets/project.jpg);
  background-color: rgb(192, 251, 255);
  background-attachment: fixed;
  background-size: cover;
  padding: 2em 28em 5em 28em;
}

.heading {
  font-family: Ubuntu, sans-serif;
  margin-bottom: 1em;
  letter-spacing: 3px;
}
.roleBox{
  display:flex;
  justify-content: space-between;
  padding:3em
}

.role {
  width: 250px;
  height:100px;
  background-color: #001120;
  color:#dbebfa;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 1.5em;
  letter-spacing: 2px;
  box-shadow: 3px 4px 7px #1c2227b2;
  cursor:pointer;
  transition: 0.3s ease-in-out;
}

.role:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .projectMain {
    padding: 2em;
  }
}
