.projectMain {
  width: 100vw;
  background-image: url(../../assets/project.jpg);
  background-color: rgb(192, 251, 255);
  background-attachment: fixed;
  background-size: cover;
  padding: 2em 28em 5em 28em;
}

.heading {
  font-family: Ubuntu, sans-serif;
  margin-bottom: 1em;
  letter-spacing: 3px;
}

.texts {
  font-family: "Zilla Slab", serif;
  font-size: 1.4em;
  line-height: 1.5;
}
.projectTypes {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}

.project {
  width: 250px;
  height: 80px;
  margin-bottom: 20px;
  background-color: #001120;
  color: #dbebfa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 1.5em;
  letter-spacing: 2px;
  box-shadow: 3px 4px 7px #1c2227b2;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.role:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .projectMain {
    padding: 1em 3em;
  }

  .projectTypes {
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
  }
}
