.primary {
  width: 8vw;
  height: 4.5vh;
  padding: 0.5em;
  margin: 1em;
  border-style: none;
  border-radius: 0.4em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #dbebfa;
  cursor: pointer;
  background-color: #007fbd;
}
