.primary {
  width: 120px;
  height: 40px;
  padding-top:0.4em;
  margin: 1em 0em;
  border-style: none;
  border-radius: 0.3em;
  text-align: center;
  font-size: 1.3em;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #dbebfa;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: #007fbd;
}

.secondary {
  width: 8vw;
  height: 4.5vh;
  padding: 0.5em;
  margin: 1em 0em;
  border-style: none;
  border-radius: 0.4em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #001120;
  cursor: pointer;
  background-color: #dbebfa;
}

.default {
  width: 8vw;
  height: 4.5vh;
  padding: 0.5em;
  margin: 1em 0em;
  border-style: none;
  border-radius: 0.4em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #dbebfa;
  cursor: pointer;
  background-color: #00204b;
}

@media screen and (max-width: 600px) {
  .primary {
    width: 30vw;
  }
}
