* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logo {
  width:150px;
  margin-left: 50px;
  cursor: pointer
}

.navDiv {
  width: 100vw;
  position: fixed;
  background: linear-gradient(to right, white blue);
}