* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logo {
  width:200px;
  margin: 30px 50px 10px;
  cursor: pointer
}

.navDiv {
  width: 100vw;
  position: fixed;
  background: linear-gradient(to right, white blue);
}