.main {
  width: 100vw;
  background-image: url(../../assets/cv-back.jpg);
  background-color: rgb(192, 251, 255);
  background-attachment: fixed;
  background-size: cover;
  padding: 2em 23em 5em 23em;
}


.heading {
  font-family: Ubuntu, sans-serif;
  margin-bottom: 1em;
  letter-spacing: 3px;
  text-align: center;
}