.main {
  width: 100vw;
  background-image: url(../../assets/main.jpg);
  background-color: rgb(192, 251, 255);
  background-attachment: fixed;
  background-size: cover;
  padding: 2em 28em 5em 28em;
}

.heading {
  font-family: Ubuntu, sans-serif;
  margin-bottom: 1em;
}

.content {
  font-family: "Zilla Slab", serif;
  font-size: 1.4em;
  line-height: 1.5;
}

.CV {
  width: 50vw;
  opacity: 0.9;
  margin: 1em 0em;
  border-radius: 1em;
  border: 0.05em solid #004d73;
}

@media screen and (max-width: 600px) {
  .main {
    padding: 1.5em 2em;
  }

  .heading {
    font-size: 1.2em;
    margin-bottom: 0.7em;
  }
  .content {
    font-size: 0.8em;
  }

  .CV {
    width: 80vw;
  }
}
