.main {
  width: 100vw;
  padding: 2em 20em 5em 20em;
  font-family: Ubuntu, sans-serif;
  letter-spacing: 2px;
  background-image: url(../../assets/mouse.jpg);
  background-color: rgb(192, 251, 255);
  background-size: cover;
}
.heading {
  color: #2a2a2a;
  text-align: center;
}
.arrow {
  font-size: 32px;
  color: orangered;
  position: fixed;
  right: 1300px;
  top: 120px;
  cursor: pointer;
}

.projects {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 1em 3em;
  }

  .arrow {
    top: 40px;
    left: 5px;
  }

  .heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: 1em;
  }
}
