.navbar {
  width: 100vw;
  max-height: 13vh;
  background-color: #004d7300;
  padding: 1.2em 3em;
  box-shadow: 0px 0px 5px black;
  display: flex;
  align-items: center;
}

.logo {
  width: 4.5vw;
  height: 8vh;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .navbar {
    max-height: 12vh;
    padding: 1em 1.5em;
  }
  .logo {
    width: 8vw;
    height: 12vh;
  }
}
