.main {
  width: 100vw;
  height: 100vh;
  padding: 2em 20em 5em 20em;
  font-family: Ubuntu, sans-serif;
  letter-spacing: 2px;
  background-color: rgb(192, 251, 255);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.arrow {
  font-size: 32px;
  color: orangered;
  position: fixed;
  right: 1300px;
  top: 120px;
  cursor: pointer;
}

.heading {
  text-align: center;
  margin: 10px 0px;
}
.block {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 50px 0px;
}
.imgDiv {
  width: 350px;
  height: 400px;
  background-color: #fdfcfa;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(22, 22, 22, 0.863);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  padding: 20px;
}
.imgDiv2 {
  width: 430px;
  height: 480px;
  background-color: #fdfcfa;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(22, 22, 22, 0.863);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  padding: 20px;
}

.image {
  width: 300px;
  height: 320px;
  object-fit: contain;
  transition: 0.3s ease-in-out;
}
.image2 {
  width: 330px;
  height: 350px;
  object-fit: contain;
  transition: 0.3s ease-in-out;
}
.image:hover {
  transform: scale(1.2);
}
.image2:hover {
  transform: scale(1.2);
}

.textDiv {
  width: 500px;
  margin: 10px 20px;
}
.subHead {
  font-family: Ubuntu, sans-serif;
  margin-bottom: 10px;
  font-size: 22px;
}
.texts {
  font-family: "Zilla Slab", serif;
  color: #2a2a2a;
  font-size: 18px;
  line-height: 150%;
}
.line {
  height: 5px;
  color: rgb(0, 0, 0);
}

.btnWrapper {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.button {
  height: 35px;
  background-color: orangered;
  color: #f2f2f2;
  border-style: none;
  border-radius: 6px;
  margin-top: 30px;
  font-size: 18px;
  cursor: pointer;
  padding: 0px 15px;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: #f2f2f2;
  color: orangered;
  box-shadow: 0px 0px 2px rgb(34, 34, 34);
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 1em 3em;
  }

  .block {
    margin: 20px 0px 50px 0px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 1em;
  }

  .block {
    flex-direction: column;
    align-items: center;
  }

  .textDiv {
    width: 700px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: 0.5em;
  }

  .block {
    flex-direction: column;
    align-items: center;
  }
  .imgDiv,
  .imgDiv2 {
    max-width: 300px;
    height: 400px;
  }
  .image,
  .image2 {
    width: 300px;
    height: 320px;
  }

  .textDiv {
    width: 300px;
  }
}
