.banner {
  box-sizing: border-box;
  width: 100vw;
  padding: 2em 0em 4em 25em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #808183;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  letter-spacing: 0.1em;
  animation: bannerMagic 0.5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  display: flex;
  justify-content: space-between;
}

.profile {
  width: 300px;
  border-radius: 120px 0px 0px 0px;
}

.greetings {
  margin-bottom: 1.5em;
  font-size: 2em;
  opacity: 0;
  animation: greetingMagic 1s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.intro {
  margin-bottom: 2em;
  font-size: 0.7em;
  line-height: 1.5;
  opacity: 0;
  animation: introMagic 0.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.welcome {
  font-size: 1em;
  font-weight: bold;
  opacity: 0;
  animation: welcomeMagic 0.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.button {
  padding: 15px 30px;
  margin-top: 70px;
  font-family: Ubuntu, sans-serif;
  color: rgb(194, 69, 24);
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1.5px;
  background-color: #dbebfa;
  border-style: none;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgb(56, 56, 56);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  animation: toCV 0.5s;
  animation-delay: 4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.button:hover {
  background-color: orangered;
  color: #dbebfa;
}

@keyframes greetingMagic {
  from {
    font-size: 2em;
    opacity: 0;
  }
  to {
    font-size: 2em;
    opacity: 1;
  }
}

@keyframes introMagic {
  from {
    font-size: 0.7em;
    opacity: 0;
  }
  to {
    font-size: 1em;
    opacity: 1;
  }
}

@keyframes welcomeMagic {
  from {
    font-size: 1em;
    opacity: 0;
  }
  to {
    font-size: 1.5em;
    opacity: 1;
  }
}

@keyframes bannerMagic {
  from {
    height: 0vh;
  }
  to {
    height: 70vh;
  }
}

@keyframes toCV {
  from {
    opacity: 0;
    font-size: 16px;
    padding: 10px 20px;
  }
  to {
    opacity: 1;
    font-size: 22px;
    padding: 15px 30px;
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    padding: 1em 1.5em;
    animation: none;
  }

  .greetings {
    animation: none;
    opacity: 1;
    font-size: 0.9em;
  }

  .intro {
    animation: none;
    opacity: 1;
    font-size: 0.6em;
  }

  .welcome {
    animation: none;
    opacity: 1;
    font-size: 0.8em;
  }
  .button {
    animation: none;
    margin-top: 15px;
  }
}
